*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* header */
.div1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px; 
}
 
.img1{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  left: 10px;
}
.img2{
  width: 100px;
  position: relative;
  right: 17px;

}

.search-container {
  margin-left: 50px;
  position: relative;
  right: 80px;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 19px;
  transform: translateY(-50%);
  cursor: pointer;
  color: rgb(74, 71, 71);
}

input[type="search"] {
  /* padding: 5px 10px 15px 100px;  */
  padding: 13px 100px 15px 105px;
  width: 150%;
  border: none;
  border-radius: 25px;
  border: solid rgb(224, 222, 222);
  font-size: 16px;
}
.log{
  border: none;
  border-radius: 50px;
  height: 50px;
  width: 80px;
  font-size: 15px;
  font-weight: bold;
  /* background-color:rgb(218, 214, 214) ; */
  background-color: red;
  color: white;
  margin-left: 25vh;
  cursor: pointer;
}
.sign{
  border: none;
  border-radius: 50px;
  height: 50px;
  width: 80px;
  font-size: 15px;
  font-weight: bold;
  background-color: red;
  cursor: pointer;
  color: white;
}

/* .log:hover {
  background-color: #542222;
} */
.para{
  position: relative;
  right: 30px;
}
p{
  margin-left: 20px;
  font-size:17px;
  font-weight: bold;
}

/* main */
.main-div-container{
  /* border: solid; */
  margin-top: 90px;
  text-align: center;

}
.image1,.image2, .image3{
  width: 50px;
  /* border: solid; */
  border-radius: 70px;
  height: 50px;
}
.image1, .image3{
  height: 50px;
}
.image2{
  position: relative;
  right: 20px;
}
.image3{
  position: relative;
  right: 38px;
}
span{
  margin-top: 10px;
  font-size: 18px;
}
.img-container{
  margin-top: 40px;
  margin-left: 50px;
}
#same{
  margin-top: 1%;
}
.same1{
  position: relative;
  top: 30px;
}
.btn1{
  border: none;
  margin-left: 10px;
  margin-top: 70px;
  border-radius: 50px;
  width: 80px;
  height: 50px;
  font-size: 15px;
  font-weight: bold;
}
/* mainfooter */

 .container{
  /* border: solid; */
  position: relative;
  top: 50px;
  /* width: 1400px; */
  margin: 26px auto;
  columns: 5;
  column-gap: 10px;
} 
.container , .box{
  text-align: center;
  /* border: solid; */
  width: 100%;
  margin-bottom: 40px;
  break-inside: avoid;
}
.container , .box img{
  width: 100%; 
  border-radius: 15px;
  /* transition: .3s ease; */
} 
/* .container , .box img:hover{
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1); */


.img-para{
  /* border: solid; */
  font-size: 13px;
  font-weight:lighter;
  position: relative;
  bottom: 32px;
  text-transform: uppercase;
}
/* 
.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: masonry;
} */




.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0, 0, 0, 0.61);
  padding-top: 60px;
  
}


.modal-content {
  background-color: white;
  margin: 5% auto;
  padding: 20px;
  /* border: 1px solid #363535; */
  width: 37%;
  height: 110%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 50px;
}

.close {
  float: right;
  font-size: 40px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.div-LogIn{
  /* border: solid; */
  margin-top: 5%;
  padding: 2%;
  text-align: center;
  /* width: 50vh; */
}
.img-logIn{
  width: 50px;
}
.log-h1{
  color: rgb(51, 51, 51);
  font-size: 32px;
  font-weight: 450;
  letter-spacing: -1.2px;
}
.container1 {
  display: flex;
  justify-content: center;
  align-items: center; 
  /* height: 100vh; */
}
input{
  margin-top: 2%;
  width: 60%;
  height: 7vh;
  border-radius: 10px;
  border: solid rgb(176, 172, 172);
}
.button1{
  background-color: red;
  color: white;
  width: 60%;
  height: 6vh;
  border-radius: 50px;
  border: none;
  font-weight: bold;
  margin-top: 16px;
}
.button2{
  background-color: rgb(22, 75, 167);
  color: white;
  width: 60%;
  height: 6vh;
  border-radius: 50px;
  border: none;
  font-weight: bold;
}
.log-in-para{
  margin-top: 30px;
  /* border: solid; */
  width: 100px;
  position: relative;
  left: 59px;
  top: 8px;
}
.log-in-A{
  /* border: solid; */
  margin-top: 20px;
}
.log-in-A, a{
  color: black;
  position: relative;
  right: 20px;
}
.logIn-grap{
  /* border: solid; */
  margin-top: 15px;
  font-size: 14px;
  width: 80%;
  margin-left: 30px;
}

/* Success message styles */
.success-message {
  /* border: solid; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.success-message p {
  font-size: 24px;
  background-color: #fff;
  /* background-color: rgb(207, 54, 54); */
  /* color: white; */
  padding: 69px 106px;
  border-radius: 5px;
  margin-top: 202px;
  width: 30%;
  margin-left: 420px;
}

.close-success {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: #fff;
}

.close-btn{
  border: none;
  border-radius: 10px;
  width: 10%;
  height: 6%;
  background-color: red;
  color: white;
  position: relative;
  right: 20px;
  font-weight: bold;
  cursor: pointer;
}