*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* header */
.div1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  
}

.img1{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  left: 10px;
}
.img2{
  width: 100px;
  position: relative;
  right: 17px;

}

.search-container {
  margin-left: 50px;
  position: relative;
  right: 80px;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 19px;
  transform: translateY(-50%);
  cursor: pointer;
  color: rgb(74, 71, 71);
}

input[type="search"] {
  /* padding: 5px 10px 15px 100px;  */
  padding: 13px 100px 15px 105px;
  width: 150%;
  border: none;
  border-radius: 25px;
  border: solid rgb(224, 222, 222);
  font-size: 16px;
}
.log{
  border: none;
  border-radius: 50px;
  height: 50px;
  width: 80px;
  font-size: 15px;
  font-weight: bold;
  background-color:rgb(218, 214, 214) ;
  margin-left: 20vh;
  cursor: pointer;
}
.sign{
  border: none;
  border-radius: 50px;
  height: 50px;
  width: 80px;
  font-size: 15px;
  font-weight: bold;
  background-color: red;
  cursor: pointer;
  color: white;
}

.log:hover {
  background-color: #777;
}
.para{
  position: relative;
  right: 30px;
}
p{
  margin-left: 20px;
  font-size:17px;
  font-weight: bold;
}

/* main */
.main-div-container{
  /* border: solid; */
  margin-top: 90px;
  text-align: center;

}
.image1,.image2, .image3{
  width: 50px;
  /* border: solid; */
  border-radius: 70px;
  height: 50px;
}
.image1, .image3{
  height: 50px;
}
.image2{
  position: relative;
  right: 20px;
}
.image3{
  position: relative;
  right: 38px;
}
span{
  margin-top: 10px;
  font-size: 18px;
}
.img-container{
  margin-top: 40px;
  margin-left: 50px;
}
#same{
  margin-top: 1%;
}
.same1{
  position: relative;
  top: 30px;
}
.btn1{
  border: none;
  margin-left: 10px;
  margin-top: 70px;
  border-radius: 50px;
  width: 80px;
  height: 50px;
  font-size: 15px;
  font-weight: bold;
}
/* mainfooter */

.container{
  /* border: solid; */
  margin-top: 150px;
  width: 1400px;
  margin: 20px auto;
  columns: 5;
  column-gap: 20px;
}
.container , .box{
  width: 100%;
  margin-bottom: 20px;
  break-inside: avoid;
}
.container , .box img{
  max-width: 100%;
  border-radius: 15px;
} 
span{
  font-size: 19px;
}
/* 
.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: masonry;
} */